<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="mssql." connectionString="server=.;uid=sa;pwd=rich123456"/>
    <add name="mssql121预约测试" connectionString="server=172.3.1.121;uid=sa;pwd=rich123.com"/>
    <add name="mssql154预约正式" connectionString="server=128.1.10.154;uid=zhangbin;pwd=Pass@word"/>
    <add name="mssqlCRM正式" connectionString="server=180.1.13.13;uid=dengly;pwd=Pass@word1"/>
    <add name="mssql128.1.10.145对账" connectionString="Server=128.1.10.145;uid=new_Reconciliation;pwd=Pass@word;"/>
    <add name="mssql落单正式" connectionString="Data Source=128.1.10.183;uid=richwebservice;pwd=webservice.com.869;"/>
    <add name="mssql体检测试" connectionString="Server=128.1.10.153;uid=cis;pwd=cis;"/>
    <add name="MySql_Local" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=123;" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLite" connectionString="Data Source=F:\data\sqlite3\testdb.s3db;Version=3;" providerName="System.Data.SQLite"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\main.mdb;User Id=admin;Password=;" providerName="System.Data.OleDb" />
    <add name="oracle_ddtek" connectionString="Data Source=orcl;User ID=sa;Password=sa;" providerName="Devart.Data.Oracle"/>
    <add name="oracle_msclient" connectionString="Data Source=orcl;User ID=sa;Password=sa;" providerName="System.Data.OracleClient"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <add name="MySqlClient Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySql" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="DB2 Data Provider" invariant="IBM.Data.DB2" description=".Net Framework Data Provider for DB2" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2" />
    </DbProviderFactories>
  </system.data>
</configuration>
